@import "tailwindcss";

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  justify-content: center;
  align-items: center;
  display: flex;
}

body{
  height: 100vh;
  width: 100vw;
  color: rgba(255, 255, 255, 0.87);
}

/* === BOTONES BASE === */
.refresh-btn {
    background: #14b8a6;
    background: linear-gradient(to right, #14b8a6, #06b6d4, #0891b2);
}
.refresh-btn:hover {
    background: white !important;
    background-image: none !important;
}

.toolbar-btn:hover{
  background: #06b6d4;
  background: linear-gradient(to bottom right, #06b6d4, #6366f1);
}

.footer-btn:hover{
  color: #06b6d4;
  color: linear-gradient(to bottom right, #06b6d4, #6366f1);
}

.close-btn:hover{
    background: #6366f1;
    background: linear-gradient(to bottom right, #ef4444, #d32c02);
}

.estado-btn {
    background: #06b6d4;
    background: linear-gradient(to bottom right, #06b6d4, #6366f1);
}
.estado-btn:hover {
    background: white !important;
    background-image: none !important;
}

.control-btn {
    background: #6366f1;
    background: linear-gradient(to bottom right, #6366f1, #d946ef);
}
.control-btn:hover {
    background: white !important;
}

.wifi-btn {
    background: #d946ef;
    background: linear-gradient(to bottom right, #d946ef, #14b8a6);
}
.wifi-btn {
    background: linear-gradient(to bottom right, #d946ef, #14b8a6);
}
.wifi-btn:hover {
    background: white !important;
    background-image: none !important;
}

.text-slate-hovered:hover {
    color: rgb(15 23 42) !important;
}

.text-hover-indigo:hover {
  color: #6366f1 !important;
}

:root{
  --vt-duration: 360ms;      /* más/menos lento */
  --vt-ease: cubic-bezier(.2,.8,.2,1); /* curva */
}

.vt-persist { view-transition-name: none; }  /* agregá esta clase a esos contenedores */

.input-disabled{
  opacity: 0.5  !important;
}

/* === ANIMACIONES === */
@keyframes gradient-move {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}
@keyframes border-move {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@keyframes vt-depth-in {
  from { opacity:0; transform: translateY(12px) scale(.98); filter: blur(8px); }
  to   { opacity:1; transform: translateY(0)    scale(1);    filter: blur(0);  }
}
@keyframes vt-depth-out {
  from { opacity:1; transform: translateY(0)    scale(1);    filter: blur(0);  }
  to   { opacity:0; transform: translateY(-8px) scale(1.01); filter: blur(8px); }
}
/* Slide */
@keyframes vt-slide-in  { from { opacity:0; transform: translateX(28px) } to { opacity:1; transform: translateX(0) } }
@keyframes vt-slide-out { from { opacity:1; transform: translateX(0)    } to { opacity:0; transform: translateX(-28px) } }
